* {
    font-family: Montserrat;

}

body {
    background-color: #000000e5;
}

.card1 {
    width: 400px;
    display: flex;
}
.main{
    margin:100px;
}
.card {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    width: 790px;
    height: 634px;
    padding: 5px;
    margin: 20px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
}

.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
}

.card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
}

.card .title {
    font-weight: bold;
    letter-spacing: .1em;
}

/*Hover*/
.card:hover::after {
    opacity: 0;
}

.card:hover .card-info {
    color: #f7ba2b;
    transition: color 1s;
}

.card1 {
    width: 400px;
    height: 634px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

.card__content {
    --color: #181818;
    background: var(--color);
    border-radius: 17px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#search {
    border-radius: 30px;
    width: 240px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #383838;
    border: 0px;
}

#btn {
    border-radius: 50px;
    width: 60px;
    background-color: #383838;
    height: 50px;
    margin-bottom: 20px;
    border: 0px;

}

#btn img {
    display: flex;
    align-items: center;
    width: 20px;
    filter: invert(1);
    padding: 0px 15px;
    cursor: pointer;
}

#btn:hover {
    background-color: #868686;
    transition: all ease-in .5s;
}

#search::placeholder,
input {
    font-size: 15px;
    text-align: center;
    color: rgb(212, 205, 255);
    font-weight: bold;
}

.recents {
    width: 350px;
    height: 130px;
    background-color: #383838;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
}

.recents:hover {
    cursor: pointer;
    background-color: #585858bd;
    transition: all ease-in .5s;
}

#icon {
    width: 120px;
    margin-left: 20px;
}

.recentsdetails {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin-left: 20px;


}

.recentsdetails h3 {
    color: white;
    margin-bottom: 4px;

}

.recentsdetails p {
    color: white;
    margin-top: 0px;
}

.temp {
    color: white;
    font-size: 15px;
    position: relative;
    top: -11px;
}

.leftbottom {
    overflow-y: scroll;
}

.card-info {
    display: flex;
    flex-direction: column;

}

.weathernow {
    display: flex;
    align-items: center;
    gap: 50px;
}

.weather-icon-box {
    width: 160px;
    /* same space always */
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weathernow img {
    width: 180px;
    /* uniform icon size */
    height: auto;
    margin: 0;
    position: static !important;
}

.weatherinfottext p {
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -13px;
}

@media only screen and (max-width:1080px) {
    .main {
        flex-direction: column;
    }

    .card1 {
        width: 600px;
    }

    .card {
        width: 600px;
        height: 964px;
    }

    .card h1 {
        font-size: 30px;
    }

    .weathernow p {
        font-size: 10px;
        margin-top: -2px;
    }

    .detail {
        width: 700px;
    }
}

.details {
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin-left: 1s0px;
}

.detail {
    display: flex;
    gap: 10px;
    width: 350px;
    height: 120px;
    align-items: center;
    margin: 20px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 2px solid #9e6f00;
}

.detail:hover {
    cursor: pointer;
    background-color: #fdc66173;
    transition: background-color ease-in .5s;
}

.detail img {
    width: 40px;
    height: 40px;
    filter: invert(1);
    margin: 0px 30px;
}

.detail p {
    font-size: 15px;
}

.detail h2 {
    margin-top: -15px;
    color: #ffa600;
}





@media screen and (max-width:1270px) {
    .detail {
        width: 280px;
    }.detail p {
  font-size: 13px;
}
}

@media screen and (max-width:1078px) {
    .detail {
        width: 548px;
    }

    #search {
        width: 200px;
    }

    #btn img {
        width: 15px;
    }

    #btn {
        width: 55px;
    }
}
@media only screen and (max-width:644px) {
    .main {
        flex-direction: column;
    }

    #mainimg {
        width: 150px;
    }

    .card1 {
        width: 400px;
    }

    .card {
        width: 400px;
        height: 894px;
    }

    .card img {
        width: 35px;
    }

    .card h1 {
        font-size: 20px;
    }

    .weatherinfottext h1 {
        font-size: 30px;
    }

    .weathernow p {
        font-size: 15px;
        margin-top: -2px;
    }

    .weathernow {
        gap: 6px;
    }

    .detail {
        width: 350px;
    }
}
@media screen and (max-width:470px) {
    .card {
        width: 350px;
    }

    .detail {
        width: 300px;
        height: 90px;
    }

    .detail p {
        font-size: 12px;
    }

    .detail h2 {
        font-size: 22px;
    }

    .weathernow p {
        font-size: 10px;
    }

    .card1 {
        height: 400px;
        width: 350px;
    }

    .recents {
        width: 310px;
    }

    .temp {
        margin-left: 70px;
    }

    .card h1 {
        font-size: 20px;
    }

    #mainimg {
        width: 100px;
    }

    .weathernow {
        gap: 1px;
    }

    #maintitle {
        font-size: 30px;
    }

}